body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: Norse-Bold;
    src: url(Norse-Bold.otf); 
}
.container {
    display: flex;
    
}

.design {
    min-height: 100vh;
    width: 60vmin;
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
}
 .logo {
    display: flex;
    justify-content: center;
    gap: 0.3rem;
    font-size: 3.5rem;
    
    font-family: Norse-Bold;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 40%;
    align-items: center;
     
 }
  .logo img{
    max-height: 5rem;
  }
  .logo div {
     display: flex;
     justify-content: center;
     align-items: center;
  }
  .logo-text {
    margin-top: 5%;
  }

  
  .footer {
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
  }

   .right  {
    background-color: rgb(249, 250, 250);
    padding-top: 10vh;
    font-family: sans-serif;
    font-size: 0.8rem;
    
  } 
  .intro{
     width: 40%;
     margin-bottom: 6%;
     font-weight: 600;

  }
  .right > div {
    padding-left: 2rem;
  } 
  .form {
    background-color:  white;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.4);
    padding-top: 0.1rem; 
    margin-bottom: 5%;
  }
 form {
    padding-bottom: 20px;
    font-size: 0.6rem;
    color: #525252;
    font-family: serif;
    width: 45%;
    display: flex;
    justify-content: space-between;
  }
  .form label{
     font-weight: 600;
     display: block;
  }
  .form input{
     width: 90%;
    margin-bottom: 6%;
    font-family: inherit;
    border: #E5E7EB solid 1px;   
    border-radius: 4%; 
    padding: 5px;
  }
  input:focus{
        border: 1px solid blue;
        outline: none; 
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
  }
    input[type="password"]:invalid {
        border: 1px solid red;
        outline: none;  
    }
  .create-account button {
     background-color: #596D48;
     color: white;
     padding:  10px 25px;
     border-radius: 3%;
     font-size: 0.7rem;
     border: 0;
     font-weight: 600;
     margin-bottom: 5px;
  }
  a{
    color: #596D48;
  }
   a:hover{
    color: #73f600;
  }